/target/
/Cargo.lock

/build.rs

.idea/
.vscode/
*.iml

*.exe
*.so
*.dylib
*.dll

*.log
*.tmp
*.bak
*.swp
*~

node_modules/

*.rs.bk

/tests/output/
target/debug/
target/doc/
target/release/
target/rls/
target/*.rmeta

*.wasm
*.wast

lib.rs.bk
lib.rs.orig

Cargo.toml.orig
Cargo.lock.bk

*.env
